
  <button mat-button class="menu-button" routerLink="/admin/dashboard" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span>Dashboard</span>
  </button>
  <button mat-button class="menu-button" routerLink="/admin/view/profile" routerLinkActive="active">
      <mat-icon>person</mat-icon>
      <span>View Profile</span>
  </button>
  <button mat-button class="menu-button" routerLink="/admin/profiles" routerLinkActive="active">
      <mat-icon>info</mat-icon>
      <span>View all Profile</span>
  </button>
